* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    color: #eee;
    background-color: #222;
}

header {
    position: relative;
    height: 35vh;
    border-bottom: 7px solid #eee;

}

h1 {
    text-align: center;
    font-size: 6rem;
    clear: both;
    margin: 2rem 2rem;
    /* padding-top: 2rem; */
    /* width: 100%; */
    /* position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, 50%); */
}

p {
    margin: .5rem 0;
}

.number {
    background-color: #eee;
    font-size: 8rem;
    display: block;
    padding: 3rem 0;
    color: #333;
    text-align: center;
    width: 15rem;
    /* height: 10rem; */
    margin: 5rem auto;
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%); */
}

.btn {
    font-size: 2.5rem;
    margin-top: 2rem;
    padding: 1.0rem 2.5rem;
}

/* .btn:active,
.btn:hover {
    box-shadow: 5px 5px 20px #000;
    color: black; 
}
*/


.between {
    text-align: end;
    font-size: 2.0rem;
    /* display: inline-block; */
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
}

main {
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.again {
    display: float;
    float: left;
    margin-left: 1.5rem;
    /* position: absolute; */
}

.left {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin-bottom: 2rem; */
}

.right {
    width: 52rem;
    font-size: 2rem;
    /* display: flex;
    flex-direction: column;
    align-items: start; */
}

.guess {
    width: 16rem;
    height: 7rem;
    background-color: #222;
    border-color: #fff;
    border-width: 3px;
    text-align: center;
    color: #eee;
    font-size: 5rem;
}

/* .again:link,
.again:visited {} */
p {
    font-size: 2.0rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.message {
    margin-bottom: 4rem;
}